body
{
    font-family: sans-serif;
    background-color: black;
}
h1
{
    color: cyan;
    text-align: center;
    font-size: 2.5em;
}
h2
{
    color: magenta;
    text-align: justify;
}
p
{
    color: lightgreen;
}
b
{
    color: orange;
}